@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
box-sizing: border-box;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.treact_logo{
display: flex;
}
.logo{
   width: 40px;
   height: 40px;
   margin-left: 20px;
   margin-top: 10px;
   
}
.header_title {
  margin-top: 28px;
  padding: 0px 10px;
  font-size: 20px;
}
.nav_contents{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.navigation{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
   

}

.nav_link-anchor{
   margin: 0 12px;
   color: #242424;
   text-decoration: none;
   font-weight: 700;
}
 .nav_link-anchor--primary {
   background-color:  #6415ff;
   padding: 8px 20px;
   border-radius: 50px;
   padding: 12px;
   border: none;
   color: white;
   transition: all 300ms ease;
 }  
 .nav_link-anchor--primary:hover{
   background-color: #5d3eff;
 }

 /* landing*/

 .landing_page--font{
    font-size: 36px;
 }

 .purple{
    color: #6415ff;
 }
 .input_placeholder{
    margin-right: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
 }

.get_started{
    position: absolute;
   padding: 16px;
    border: none;
   cursor: pointer;

}
.input{
    border-radius: 50px;
    padding: 20px 192px 20px 32px;
    position: relative;
    margin-bottom: 32px;
    margin-top: 32px;
    border-color: #a0aec0;

}
    

 .trusted_customers{
    margin-top: 50px;
    color: #a0aec0;
    font-weight: 400;
    
 }
 .container{
    margin-top: 96px;
    display: flex;
    justify-content: space-between
    
    
 }
 .landing_page{
    width: 40%;
 }
 .landing_img{
    
    width: 100%;
    max-width: 746px;
 }
 .fortune_img{
    width: 100%;
    max-width: 533px;
    margin: 16px 0px 0px;
    padding: 0px 128px 0px 0px;
 }


 /*Features*/


 .row_two{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
 }
.amazing_service{
    text-align: center;
    margin-top: 100px;
    
}
.features{
    font-size: 28px;
    color: #6415ff;
    font-weight: 500;
    margin-bottom: 16px;
}
.service_title{
    margin-bottom: 16px;
    font-size: 30px;
    color: #243e63;
}
.service_title--para{

    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500px;
    line-height: 2;
    margin: 16px 0px 0px;
   width: calc(100%/2);
   margin: 0 auto;


    
}
 
.services{
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-left: 100px;
    margin: 0 center;
}
.service{
    display: flex;
    width: 100%;
    width: calc(100%/3);
    margin-bottom: 50px;
    padding: 0 12px;

}
.service_description--para{
    color: #7c8ba1;
    font-size: 16px;
    font-weight: 500px;
    line-height: 2;
}
.service_description{
    display: flex;
    flex-direction: column;
}
h3 h2{
    margin-bottom: 16px;
    color: #243e63;
    font-size: 24px;
}
.service_icon{
    margin-right: 15px;
   
}
.border{
    border: solid #a0aec0;
    border-radius: 50px;
    padding: 10px;
    border-width: 1px;

}

/*Design*/
.row_three{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container_three{
    margin-top: 96px;
    display: flex;
    align-items: center;
}
.design{
    width: 50%;
    margin-left: 150px;
}
.design_img{
width: 100%;
max-width: 90%;
}
h4{
    margin-bottom: 20px;
}
h1{
    font-size: 36px;
    margin-bottom: 32px;
}
.design_para{
    color: #7c8ba1;
    font-size: 16px;
    font-weight: 500px;
    line-height: 2;
}
.learn_more{
    margin-top: 30px;
    margin-right: 90px;
    border: none;
    padding: 16px;
}

/*Laptop*/

.row_four{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container_four{
    margin-top: 100px;
    display: flex;
    
}
.laptop_img{
    max-width: 97%;
}
.laptop_sections{
    width: 50%;
}
.laptop_group{
    display: flex;
}

.laptop_para{
    color: #718096;
    font-size: 16px;
    font-weight: 500px;
    line-height: 2;
    margin-bottom: 28px;
}

.numbers{
    color: #a0aec0;
   margin-right: 20px;
}
h4{
    margin-bottom: 16px;
    color: #243e63;
    font-size: 24px;
}


/*Value*/

.row_five{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.container_five{
    margin-top: 96px;
    
    display: flex;
  align-items: center;
}
.values{
    width: 40%;
    
}
.value_pic{
    width: 80%;
    
}
.affordable_container .proffesional_container{
    display: flex;
}
h1{
    font-size: 36px;
    margin-bottom: 32px;
}
p{
    color: #718096;
    font-size: 16px;
    font-weight: 500px;
    line-height: 2;
    margin-bottom: 32px;
}
.value_para{
    margin-bottom: 40px;
}
h3{
    margin-bottom: 16px;
    color: #243e63;
    font-size: 24px;

}
.affordable_container {
    display: flex;
}
.proffesional_container{
    display: flex;
}
.value_header{
   margin-top: 10px;
}
.value_container-one--para{
    margin-bottom: 32px;
}
.link_one{
    margin: 16px;
    background-color: #9ae6b4;
    border: solid #a0aec0;
    border-radius: 50%;
    padding: 8px;
    border-width: 1px;
}
.link_two{
    margin: 16px;
    background-color: #feb2b2;
    border: solid #a0aec0;
    border-radius: 50%;
    padding: 0.5rem;
    border-width: 1px;
}

/*flex plan*/

.row_six{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 200px;
    margin-right: 400px;
    
}
.flex_plan--heading{
    text-align: center;
}
.flex_plan--container{
    
    width: calc(100%/3);
    display: flex;
    margin-right: 50px;

    
}
.flex_plan_one {
    border: solid #a0aec0;
    text-align: center;
    margin-right: 50px;
   
}
.flex_plan_two{
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border:none;
    border-radius: 2px; 
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
   

}
.flex_plan_three{
    border: solid #a0aec0;
    border-radius: 2px; 
    text-align: center;
    margin-left: 50px;
    
}
.price{
    padding: 0px 120px;
    margin-top: 16px;
    border-bottom: solid #a0aec0;
}
.description{
    margin-top: 16px;
    border-bottom: solid #a0aec0;
}
.plan_buttons{
    align-items: center;
}
.plan_button{
    
    margin: 16px;
    width: 200px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
   border-radius: 50px;
   padding: 12px;
   border: none;
   color: white;
   transition: all 300ms ease;

}
.business{
    color: white;
}
.business_button{
    margin: 16px;
    width: 200px;
    background: white;
   border-radius: 50px;
   padding: 12px;
   border: none;
   color: #5d3eff;
   font-weight: 500;
   transition: all 300ms ease;
}


/*last container*/

.last_container{
    max-width: 1200px;
    width: 100%;
    margin: 104px auto;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #3f38b1;
    border-radius: 8px;
    padding: 72px;
    margin-bottom: 250px;
}
.last_heading{
    color: white;
}
.last_container--buttons{
    display: flex;
    margin-left: 100px;
}

.last_button{
    margin: 16px;
    background: #f56565;
   border-radius: 50px;
   padding: 12px;
   border: none;
   color:white;
   font-size: 16px;
   font-weight: 700;
   transition: all 300ms ease;
}
.last_button--two{
    margin: 16px;
    background:white;
   border-radius: 50px;
   padding: 12px;
   border: none;
   color: #6415ff;
   font-size: 16px;
   font-weight: 700;
   transition: all 300ms ease;
}

/*fo0ter*/

.row_foot{
    width: 100%;
    margin: 0 auto;
    
}
.foot_container{
    display: flex;
    flex-wrap: wrap;
}
.footing{
    background-color: #3f38b1;
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
    padding-top: 80px; 
}
.footings{
    color: white;
    margin: 10px;
}
.footings_bottom{

    margin-bottom: 80px;
}
.footer_info{
    background-color: #3f38b1;
    display: flex;
   justify-content: space-evenly;
    align-items: center;
}
.BigT_img{
display: flex;
}
.bigT{

    color:none;
    width: 100%;
    height: 100%;
    max-width: 80px;
    border: white;
    padding: 16px;
}
.treact_inc{
    display: flex;
}
.treact{
    color: white;
}

.treact_inc{
    margin-top: 20px;
}
.treact_para{
    margin-top: 40px;
}

@media(max-width: 1023px){
    .nav_link-anchor{
        max-width: 600px;
        display:none;
    }
    .container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .input_placeholder{
        align-items: center;
        margin-left: 320px;
        margin-bottom: 10px;
    }
    .landing_img{
        margin-top: 30px;
        max-width: 500px;
    }
    .fortune_img{
        align-items:center;
        margin-left: 0px;
        width: 450px;
    }
}

    @media(max-width:768px){
    
        .service{
            flex-wrap: wrap;
            width: calc(100%/2);
            text-align: center;
            margin-left: 100px;
        } 
        .service_icon{
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
    @media (max-width:768px){
        .container_three{
            width: 100%;
            flex-wrap: wrap-reverse;
        }
        .design_img{
            margin-left: 120px;
            width: 500px;
        }
        .design{
            margin: 0 auto;
            text-align: center;
          align-items: center;
        }
        .design_header{
            font-size: 40px;
        }
    }
    @media (max-width:768px){
        .container_four{
            display: flex;
            flex-wrap: wrap;
        }
        .laptop_img{
            width: 500px;
           margin-left: 120px;
           margin-bottom: 50px;
        }
        .laptop_sections{
            margin: 0 auto;
            
        }
        .laptop_group{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            text-align: center;
        }
        h1{
            text-align: center;
        }
        h4{
            text-align: center;
        }

    }

    @media (max-width:768px){
        .row_six{
            margin: 0 auto;
        }
        .container_five{
            display: flex;
            flex-wrap: wrap-reverse;
        }
        .values{
            margin: 0 auto;
            text-align: center;
        }
        .value_pic{
            width: 500px;
            margin-left: 120px;
        }
        .affordable_container{

            margin-left: 40px;
        }
        .proffesional_container{
            margin-left: 20px;
        }

        .flex_plan--container{
            flex-wrap: wrap;
          align-items: center;
          
        }
        .flex_plan_one{
            margin-left: 180px;
            margin-bottom: 50px;
        }
        .flex_plan_two{
            margin-left: 180px;
            margin-bottom: 50px;
        }
        .flex_plan_three{
         margin-left: 180px;
            margin-bottom: 80px;
        }
        .price .business{
            padding: 15px;
        }
        
        
    }
    @media (max-width:768px){
        .last_container{
            display: flex;
            flex-wrap: wrap;
        }
        .last_heading{
            text-align: center;
            margin-bottom: 20px;
        }
        .last_container--buttons{
           margin: 0 auto;
        }
       
    }
    
    @media(max-width:768px){
        .footing{
            width: 100%;
            max-width: calc(100%/3);
            display: flex;
            flex-wrap: wrap;
                
            }
            .row_foot{
                background-color: #3f38b1;
            }
    
    }
    
   

    
    



